{% extends "base.html" %}

{% block footer %}

<style>
    .file-upload-table {
        font-size: 14px;
        border: none;
    }

    .file-link {
        text-decoration: none;
        color: #e86431 !important;
    }

    .file-link:hover {
        color: #b33d10 !important;
    }

    #upload-container {
        max-height: 250px;
    }
</style>

<script>
    $("#upload").click(function () {
        $.ajax({
            url: '/cluster/',
            type: 'POST',
            data: new FormData($('#ssh')[0]),
            dataType: 'json'
        }).done(function (res) {
            if (res['error'] == undefined)  {
                $("#upload-tr").prepend('<tr><td class="mdl-data-table__cell--non-numeric">' + res['data']['ip'] + '</td><td class="mdl-data-table__cell--non-numeric"">' + res['data']['status'] + '</td></tr>');
            } else {
                alert(res['error']);
            }
        });
        return false;
    });

</script>
{% endblock %}

{% block body %}
<div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="padding: 0;">
    <div class="bar"><span>Server List</span></div>
    <table class="mdl-data-table mdl-js-data-table file-upload-table width-100">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">IP Address</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
        </tr>
        </thead>

        <tbody id="upload-tr">
        {% if uploads %}
        {% for job in uploads %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="{{ job.job_meta }}" class="file-link">{{ job.job_meta }}</a></td>
            <td class="mdl-data-table__cell--non-numeric">{{ job.create_time | ctime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr id="no-data"><td class="mdl-data-table__cell--non-numeric">No Data</td><td></td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div id="upload-container" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Install CloudTree</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action=""  enctype="multipart/form-data" id="ssh">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="user" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">IP Address...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="user" id="sample4">
                    <label class="mdl-textfield__label" for="sample4">Port...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="user" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Username...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" name="pass" id="sample2">
                    <label class="mdl-textfield__label" for="sample2">Password...</label>
                </div>
            </form>
            Input server ip address, port number, ssh username and password to make your server join cloudtree cluster
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button type="submit" id="upload" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Install CloudTree</button>
        </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
</div>

{% endblock %}
