{% extends "base.html" %}

{% block footer %}

<style>
    .file-upload-table {
        font-size: 14px;
        border: none;
    }

    .file-link {
        text-decoration: none;
        color: #e86431 !important;
    }

    .file-link:hover {
        color: #b33d10 !important;
    }

    #upload-container {
        max-height: 250px;
    }
</style>

<script>
    $("#destroy").click(function () {
        var check = $(".cluster-tr  > td > label > .mdl-checkbox__input");
        var id = [];
        for (var i=0; i<check.length; i++) {
            if (check[i].checked) {
                id.push(check[i].parentNode.parentNode.nextSibling.attributes['data-id'].value);
            }
        }
        $.ajax({
            url: '/api/cluster/',
            type: 'DELETE',
            data: JSON.stringify(id),
            dataType: 'json'
        }).done(function (res) {
            setTimeout("location.reload()", 2000);
        });
        return false;
    });

    $("#create").click(function () {
        var count = $("#sample3").val();
        $.ajax({
            url: '/api/cluster/',
            type: 'POST',
            data: {"count": count}
        }).done(function (res) {
            setTimeout("location.reload()", 2000);
        });
        return false;
    });

</script>
{% endblock %}

{% block body %}
<div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="padding: 0;">
    <div class="bar"><span>Server List</span></div>
    <table class="mdl-data-table mdl-js-data-table file-upload-table width-100 {% if cluster %}mdl-data-table--selectable{% endif %}">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Instance ID</th>
            <th class="mdl-data-table__cell--non-numeric">IP Address</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
        </tr>
        </thead>

        <tbody id="upload-tr">
        {% if cluster %}
        {% for s in cluster %}
        <tr class="cluster-tr">
            <td class="mdl-data-table__cell--non-numeric" data-id="{{ s.instance_id }}">{{ s.instance_id }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ s.wan_ip }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ status_dict[s.status] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr id="no-data"><td class="mdl-data-table__cell--non-numeric">No Data</td><td></td><td></td></tr>
        {% endif %}
        </tbody>
    </table>
    <button class="mdl-button mdl-js-button" style="margin: 10px" id="destroy">DESTROY SELECTED SERVER</button>
</div>
<div id="upload-container" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Create Cluster</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action=""  enctype="multipart/form-data" id="ssh">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="user" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Count...</label>
                </div>
            </form>
            Input the count of cloud server of cluster to create, then CloudTree will create the CVM and install agent automatically.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button type="submit" id="create" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Create</button>
        </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
</div>

{% endblock %}
