{% extends "base.html" %}


{% block footer %}
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/treecompare.js"></script>
<script src="/static/js/filesaver.min.js"></script>
<script>
    $("#create").click(function() {
        var check = $(".file-tr  > td > label > .mdl-checkbox__input");
        var file = [];
        for (var i=0; i<check.length; i++) {
            if (check[i].checked) {
                file.push(check[i].parentNode.parentNode.nextSibling.attributes['data-path'].value);
            }
        }
        $.ajax({
            type: "post",
            url: "/api/pipeline",
            data: JSON.stringify(file),
            dataType: 'json',
            success: function (res) {
                location.reload()
            }
        })
    });
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.getElementsByClassName('show-dialog');
    if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }

    for (var i=0; i<showDialogButton.length; i++) {
        showDialogButton[i].addEventListener('click', function(e) {
            var id = e.toElement.attributes['data-id'].value;
            $.ajax({
                url: "/api/view/" + id,
                dataType: 'json',
                success: function (res) {
                    showtree(res['data']);
                }
            });
            dialog.showModal();
        });
    }
    dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
    });

    function showtree(data) {
        var treecomp = TreeCompare().init();
        treecomp.addTree(data, "Tree_0", "single");
        treecomp.viewTree("Tree_0", "canvas-container-div", "scale-container-div");
    }
</script>

<style>
    .treeToolsMenu li {
        list-style-type: none;
    }

    .exportText {
        list-style-type: none;
    }

    .searchBox, .rescale {
        display: none;
    }

    #canvas-container-div {
        height: 500px;
    }
</style>

{% endblock %}


{% block body %}

<div class="mdl-cell mdl-cell--12-col mdl-grid mdl-color--white mdl-shadow--2dp" style="padding: 0;">
    <div class="bar"><span>Create Task</span></div>
    <table class="mdl-data-table mdl-js-data-table file-upload-table width-100 {% if uploads %}mdl-data-table--selectable{% endif %}">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Filename</th>
            <th class="mdl-data-table__cell--non-numeric">Uploaded Time</th>
        </tr>
        </thead>

        <tbody id="upload-tr">
        {% if uploads %}
        {% for job in uploads %}
        <tr class="file-tr">
            <td class="mdl-data-table__cell--non-numeric files" data-path="{{ job.job_meta }}">{{ job.job_meta }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ job.create_time | ctime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr id="no-data"><td class="mdl-data-table__cell--non-numeric">No Data</td><td></td></tr>
        {% endif %}
        </tbody>
    </table>
    <button disabled class="mdl-button mdl-js-button" style="margin: 20px">Create Align & Construct Phylogenetic Tree Task(s)</button>
    <div class="mdl-layout-spacer"></div>
    <button id="create" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="margin: 10px 30px;">
        <i class="material-icons">arrow_forward</i>
    </button>
</div>

<div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding: 0;">
    <div class="bar"><span>All Jobs</span></div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp width-100" style="padding: 8px;">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Job ID</th>
            <th class="mdl-data-table__cell--non-numeric">Job Name</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Create Time</th>
        </tr>
        </thead>

        <tbody>
        {% if jobs %}
        {% for job in jobs %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="##" class="show-dialog" data-id="{{ job.job_id }}">{{ job.job_id }}</a></td>
            <td class="mdl-data-table__cell--non-numeric">{{ job.job_meta }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ job.status }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ job.create_time | ctime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td class="mdl-data-table__cell--non-numeric">No Data</td><td></td><td></td><td></td></tr>
        {% endif %}
        </tbody>
    </table>

</div>

<dialog class="mdl-dialog" style="width: 650px;">
    <h4 class="mdl-dialog__title">Result View</h4>
    <div class="mdl-dialog__content" id="show-result">
        <div id="canvas-container-div"></div>
        <div id="scale-container-div"></div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
    </div>
</dialog>
{% endblock %}